doctype html
html
    head
        title JFoxUK URL Shortening Service/title
    body
        div
            img(src="images/JFoxUK_logo.png")
        div
            h1 JFoxUK URL Shortening Service
        div 
            div
                p
                | Welcome to JFoxUK URL Shortening service. Enter a long URL below to retirve a short URL which can be used anywhere.
                br 
                | Features to come:
                ul
                    li
                        | Account/Login
                    li
                        | Analytics on short URL clicks 
                    li
                        | Customise short URL
            div
                form(action='/create', method='POST')
                    p
                    | Your URL: 
                    input(type='text', name='longUrl', value='')
                    input(type='submit', value='Submit')