doctype html
html
    head
        title JFoxUK URL Shortening Service/title
        meta(name='description', content='Some description')
        meta(charset='utf-8')
        link(rel='icon', type='image/x-icon', href='images/JFoxUK_logo.png')
        link(rel='stylesheet', href='/css/global.css')
        
    body
        header
            ul.nav
                li.navlink 
                    //- unauth
                    a(href="#")
                        |Home
                li.navlink
                    //- unauth
                    a(href="#")
                        |About
                li.navlink 
                    a(href="#")
                        |Login
                //- auth only
                //- li.navlink
                //-     a(href="#")
                //-         |My URLs
        
        div.container
            div.toast
                if messageShow == true
                    p.toast_message #{message}
            div.logo_container
                img(src="images/JFoxUK_logo.png")
            
                div.form_container
                    form(action='/create', method='POST')
                        p.longURL-text
                        | Enter your long URL
                        br 
                        input.longURL-input(type='text', name='longUrl', value='', placeholder="https://www.twitter.com/JFoxUK")
                        p.shortURL-text
                        | Enter your desired short URL suffix (it will look like https://jfoxuk-urlshortner.herokuapp.com/r/<shorURLPrefix>): 
                        input.shortURL-input(type='text', name='shortUrl', value='', placeholder="JFoxUKTwitter")
                        button.form_submit-button(type='submit', value='Submit')
                            |Create!