doctype html
html
    head
        title JFoxUK URL Shortening Service/title
        meta(name='description', content='Some description')
        meta(charset='utf-8')
        link(rel='icon', type='image/x-icon', href='images/JFoxUK_logo.png')
        link(rel='stylesheet', href='/css/global.css')
        
    body
        div.login-box
            h2 URL Shortener
            form(action='/create', method='POST')
                div.user-box
                    input(type="text" required="" name='longUrl', value='')
                    label 
                        |URL to be shortened
                div.user-box
                    input(type='text', name='shortUrl', value='')
                    label 
                        |Short URL suffix
                    button(type='submit', value='Submit')
                   
                        span
                        span
                        span
                        span
                        |submit
		


//- img(src="images/JFoxUK_logo.png")
//- if messageShow == true
//-                         p #{message}
//- form(action='/create', method='POST')
                       
//- input(type='text', name='longUrl', value='', placeholder="https://www.twitter.com/JFoxUK")

//- input(type='text', name='shortUrl', value='', placeholder="JFoxUKTwitter")
//- button(type='submit', value='Submit')
//-     |Create!