doctype html
html
    head
        title JFoxUK URL Shortening Service
        meta(name='description', content='URL Shortener created by Jonathan Fox (@JFoxUK). Can be likened to the popular bit.ly, sfdc.co, etc')
        meta(charset='utf-8')
        link(rel='icon', type='image/x-icon', href='images/JFoxUK_logo.png')
        link(rel='stylesheet', href='/css/global.css')
        
    body
        div.form-box
            h2
                |URL Shortener
                div.tooltip-container
                    a.tooltip(href="#")
                                span
                                span
                                span
                                span
                                |INFO
            if messageShow == true
                p.toast-message #{message}
            form#shorten-url_form.form(action='/create', method='POST')
                div.url-box
                    input(type="text" name='longUrl' required="")
                    label
                        |Long URL
                div.url-box
                    input(type="text" name='shortUrl' required="")
                    label
                        |Short URL Suffix
                a(href="#", onclick='submitForm("shorten-url_form")')
                    span
                    span
                    span
                    span
                    |Create
script.
    function submitForm(elementId) {
        let element = document.getElementById(elementId);
        console.log(element);
        element.submit();
    }
		


//- img(src="images/JFoxUK_logo.png")
//- if messageShow == true
//-                         p #{message}
//- form(action='/create', method='POST')
                       
//- input(type='text', name='longUrl', value='', placeholder="https://www.twitter.com/JFoxUK")

//- input(type='text', name='shortUrl', value='', placeholder="JFoxUKTwitter")
//- button(type='submit', value='Submit')
//-     |Create!