doctype html
html
    head
        title JFoxUK URL Shortening Service/title
        meta(name='description', content='Some description')
        meta(charset='utf-8')
        link(rel='icon', type='image/x-icon', href='images/JFoxUK_logo.png')
        link(rel='stylesheet', href='/css/global.css')
        
    body
        header
            ul.nav
                li.navlink 
                    a(href="#")
                        |Home
                li.navlink 
                    a(href="#")
                        |About
                li.navlink 
                    a(href="#")
                        |Login
                li.navlink 
                    a(href="#")
                        |My URLs
            div.burger 
                i.fas.fa-bars
        
        div.container
            div.toast
                if messageShow == true
                    p.toast-message #{message}
            div
                img(src="images/JFoxUK_logo.png")
            div
                h1 JFoxUK URL Shortening Service
            div 
                div
                    p
                    | Welcome to JFoxUK URL Shortening service! 
                    | What can you do here? Enter a long URL such as your social media profile, choose a short URL prefix and as a result get an easy to remember URL which redirects to your profile.
                    p 
                    | Features to come:
                    ul
                        li
                            | Account/Login
                        li
                            | Analytics on short URL clicks 
                div
                    form(action='/create', method='POST')
                        p
                        | Enter your long URL
                        br 
                        input(type='text', name='longUrl', value='', placeholder="https://www.twitter.com/JFoxUK")
                        p
                        | Enter your desired short URL suffix ( itwill look like https://jfoxuk-urlshortner.herokuapp.com/r/<shorURLPrefix>): 
                        input(type='text', name='shortUrl', value='', placeholder="JFoxUKTwitter")
                        input(type='submit', value='Submit')