doctype html
html
    head
        title JFoxUK URL Shortening Service/title
    body
        div
            img(src="images/JFoxUK_logo.png")
        div
            h1 JFoxUK URL Shortening Service
        div 
            div
                p
                | Welcome to JFoxUK URL Shortening service. Enter a long URL and a short URL to speed to create a small, memorable URL.
                br 
                | Features to come:
                ul
                    li
                        | Account/Login
                    li
                        | Analytics on short URL clicks 
                    li
                        | Customise short URL
            div
                form(action='/create', method='POST')
                    p
                    | Original Long URL: 
                    input(type='text', name='longUrl', value='')
                    p
                    | Desired Short URL Suffix \(will look like https://jfoxuk-urlshortner.herokuapp.com/r/\<shorURLPrefix\>\): 
                    input(type='text', name='shortUrl', value='')
                    br
                    input(type='submit', value='Submit')